/* Import de fonte */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

/* Reset CSS */
.sidebar-control {
  * {
    box-sizing: border-box;
  }
  
  margin: 0;
  padding: 0;
  
  font-family: "Nanum Gothic Coding",
  monospace;

  /* Fonte Nanum Gothic Coding */
  .nanum-gothic {
    font-family: "Nanum Gothic Coding", monospace;
  }
  
  /* Estilos para a barra lateral
#container,
.sidebar-control {
padding-top: 8px;
display: flex;
flex-direction: column;
height: 100%;
width: 100%;
overflow: hidden;
}

*/
  
  /* Estilos para o cabeçalho */
  .header-sc {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  /* Estilos para a área de controle */
  .control-area {
    background-color: rgba(121, 192, 255, 0.1);
    border-radius: 5px;
    border: 1px solid rgb(121, 192, 255);
    padding: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 7px;
    /* display: none; */
    
    .scroll {
      padding: 0;
      font-size: 0.9rem;
      
    }
    
    .text {
      padding-left: 8px;
    }
    
    .sub-text {
      padding: 6px 18px;
      transition: color .3s;
    }
    
    .hidden {
      display: none;
    }
    
    .line {
      border: 1px solid#999a9c;
      width: 80px;
    }
    
  }
  
  .icon-button {
  background-color: transparent; /* Definindo o fundo como transparente */
  border: none; /* Removendo a borda */
  cursor: pointer;
}

.icon-button:hover {
  color: #007bff; /* Alterando a cor quando hover */
}

.icon-button:focus {
  outline: none; /* Removendo o contorno ao focar */
}

.icon-button .fas {
  /* Estilos específicos para o ícone */
  font-size: 20px; /* Ajuste conforme necessário */
  color: #007bff; /* Cor do ícone */
}
  
  $loading-duration: 2s; // Duração da animação
  
  .loading {
    width: 100%;
    height: 4px; 
    background-color: #eee; 
    position: relative;
    
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #007bff; // Cor da barra de progresso
      animation: loadingAnimation $loading-duration linear infinite;
    }
    
    @keyframes loadingAnimation {
      0% {
        width: 0;
      }
      
      100% {
        width: 100%;
      }
    }
  }
  
  /* Estilos para a barra de menu */
  .menu-bar {
    display: flex;
    top: 20px;
    width: 70%;
    margin-left: 50px;
  }
  
  /* Estilos para o título */
  .title-h {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #555;
  }
  
  /* Estilos para ícone de detecção e aplicativo */
  .detect-icon,
  .detect-sidebar-app {
    border-radius: 25px !important;
    cursor: pointer;
    left: 5px;
    position: absolute;
  }
  
  /* Estilos para ícone de notificações */
  .notifications {
    border: 1px solid;
    border-radius: 25px;
    background-color: dodgerblue;
    left: -150px;
    top: 200px;
    position: relative;
  }
  
  /* Estilos para botões */
  button {
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin :5px;
  }
  
  .button-init-repo{
    background-color: #007bff;
    padding: 8px 16px;
    letter-spacing: 1px;
  }
  
  button.branch-button {
    width: auto;
    position: absolute;
    background-color: #007bff;
    padding: 8px 16px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    white-space: nowrap;
    bottom: 8px;
    left: 42px;
  }
  
  button.branch-button:hover {
    background-color: #0056b3;
  }
  
  button.commit-button {
    background-color: #007bff;
    padding: 8px 10px;
    width: 95%;
    margin: 10px;
  }
  
  button.commit-button:hover {
    background-color: #3b90e7;
  }
  
  /* Estilos para botões de ação */
  .action-button {
    background-color: #243691df;
    margin: 3px;
    padding: 5px;
    position: relative;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #fff;
  }
  
  button.action-button:hover {
    background-color: #2980b9;
  }
  
  button.action-button:active {
    background-color: #1f618d;
  }
}